body {
  margin:0px;
  background-color:rgba(234, 241, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u19806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1676px;
  height:916px;
}
#u19806 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:99px;
  width:1676px;
  height:916px;
  display:flex;
}
#u19806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:40px;
}
#u19807 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:0px;
  width:1720px;
  height:40px;
  display:flex;
  text-align:left;
}
#u19807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19807_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
  visibility:hidden;
}
#u19808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19808 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:20px;
  height:20px;
  display:flex;
}
#u19808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19809 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:184px;
  height:40px;
}
#u19810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u19810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  display:flex;
  text-align:left;
}
#u19810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19810_img.mouseOver {
}
#u19810.mouseOver {
}
#u19810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u19811 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:105px;
  height:40px;
  display:flex;
  text-align:left;
}
#u19811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19812 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:133px;
  width:179px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19813 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:170px;
  width:1624px;
  height:200px;
}
#u19814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19815 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:40px;
}
#u19816 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:493px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
}
#u19817 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:0px;
  width:234px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:40px;
}
#u19818 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:0px;
  width:277px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
}
#u19819 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:0px;
  width:245px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u19820 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:0px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19822 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:40px;
}
#u19823 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:493px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
}
#u19824 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:40px;
  width:234px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:40px;
}
#u19825 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:40px;
  width:277px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
}
#u19826 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:40px;
  width:245px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u19827 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:40px;
  width:255px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19829 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:40px;
}
#u19830 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:493px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
}
#u19831 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:80px;
  width:234px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:40px;
}
#u19832 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:80px;
  width:277px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
}
#u19833 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:80px;
  width:245px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u19834 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:80px;
  width:255px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#1F85EC;
}
#u19834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:60px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19836 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:120px;
  width:60px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:40px;
}
#u19837 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:120px;
  width:493px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
}
#u19838 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:120px;
  width:234px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:40px;
}
#u19839 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:120px;
  width:277px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
}
#u19840 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:120px;
  width:245px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u19841 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:120px;
  width:255px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:60px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u19843 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:160px;
  width:60px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:40px;
}
#u19844 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:160px;
  width:493px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:40px;
}
#u19845 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:160px;
  width:234px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:40px;
}
#u19846 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:160px;
  width:277px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:40px;
}
#u19847 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:160px;
  width:245px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u19848 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:160px;
  width:255px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 133, 236, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19849 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:54px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
}
#u19851 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:54px;
  width:206px;
  height:32px;
  display:flex;
}
#u19851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19852_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19852 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:59px;
  width:198px;
  height:22px;
  display:flex;
}
#u19852 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19852_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19852.disabled {
}
.u19852_input_option {
}
#u19853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
}
#u19854 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:54px;
  width:206px;
  height:32px;
  display:flex;
}
#u19854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19855_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19855_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19855 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:58px;
  width:192px;
  height:25px;
  display:flex;
  font-size:14px;
}
#u19855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19855_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19855.disabled {
}
#u19856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19857 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:424px;
  width:315px;
  height:35px;
}
#u19858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u19858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19859 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u19859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19860 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u19860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19861 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u19861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19862 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u19862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19863 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u19863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19864 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u19864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19865 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u19865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19866 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
}
#u19866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  text-align:right;
}
#u19867 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:434px;
  width:81px;
  height:16px;
  display:flex;
  color:#555555;
  text-align:right;
}
#u19867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  text-align:right;
}
#u19868 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:434px;
  width:47px;
  height:16px;
  display:flex;
  color:#555555;
  text-align:right;
}
#u19868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19869 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:425px;
  width:35px;
  height:35px;
  display:flex;
}
#u19869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u19870 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:435px;
  width:47px;
  height:16px;
  display:flex;
  color:#555555;
}
#u19870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(16, 134, 232, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19871 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:55px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19872 {
  position:absolute;
  left:577px;
  top:142px;
  visibility:hidden;
}
#u19872_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:790px;
  height:430px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19872_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:430px;
}
#u19873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:430px;
  display:flex;
  color:#7F7F7F;
  text-align:left;
}
#u19873 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:45px;
}
#u19874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:45px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u19874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u19874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19875 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:8px;
  width:30px;
  height:30px;
  display:flex;
}
#u19875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 133, 236, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19876 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:380px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 133, 236, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1F85EC;
}
#u19877 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:380px;
  width:76px;
  height:30px;
  display:flex;
  color:#1F85EC;
}
#u19877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19878 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:58px;
  width:756px;
  height:320px;
}
#u19879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u19879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u19880 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:255px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u19880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u19881 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:130px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
}
#u19882 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:0px;
  width:251px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u19882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:263px;
}
#u19883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:263px;
  display:flex;
  font-size:16px;
}
#u19883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:263px;
}
#u19884 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:255px;
  height:263px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u19884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:263px;
}
#u19885 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:40px;
  width:130px;
  height:263px;
  display:flex;
  font-size:16px;
}
#u19885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:263px;
}
#u19886 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:40px;
  width:251px;
  height:263px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u19886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19887_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u19887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19887 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:63px;
  width:239px;
  height:29px;
  display:flex;
  font-size:16px;
}
#u19887 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19887_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19887.disabled {
}
.u19887_input_option {
  font-size:16px;
}
#u19888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:263px;
}
#u19888 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:98px;
  width:636px;
  height:263px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u19888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19872_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:510px;
  height:280px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u19872_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:280px;
}
#u19889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:280px;
  display:flex;
  text-align:left;
}
#u19889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:45px;
}
#u19890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:45px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u19890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u19890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19891 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:8px;
  width:30px;
  height:30px;
  display:flex;
}
#u19891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 133, 236, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19892 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:236px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 133, 236, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1F85EC;
}
#u19893 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:236px;
  width:76px;
  height:30px;
  display:flex;
  color:#1F85EC;
}
#u19893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19894 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:250px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19895 {
  border-width:0px;
  position:absolute;
  left:1534px;
  top:250px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19897 label {
  left:0px;
  width:100%;
}
#u19897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19897 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:180px;
  width:26px;
  height:22px;
  display:flex;
}
#u19897 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19897_img.selected {
}
#u19897.selected {
}
#u19897_img.disabled {
}
#u19897.disabled {
}
#u19897_img.selectedDisabled {
}
#u19897.selectedDisabled {
}
#u19897_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19897_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19898 label {
  left:0px;
  width:100%;
}
#u19898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19898 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:220px;
  width:26px;
  height:22px;
  display:flex;
}
#u19898 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19898_img.selected {
}
#u19898.selected {
}
#u19898_img.disabled {
}
#u19898.disabled {
}
#u19898_img.selectedDisabled {
}
#u19898.selectedDisabled {
}
#u19898_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19898_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19899 label {
  left:0px;
  width:100%;
}
#u19899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19899 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:259px;
  width:26px;
  height:22px;
  display:flex;
}
#u19899 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19899_img.selected {
}
#u19899.selected {
}
#u19899_img.disabled {
}
#u19899.disabled {
}
#u19899_img.selectedDisabled {
}
#u19899.selectedDisabled {
}
#u19899_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19899_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19900 label {
  left:0px;
  width:100%;
}
#u19900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19900 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:298px;
  width:26px;
  height:22px;
  display:flex;
}
#u19900 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19900_img.selected {
}
#u19900.selected {
}
#u19900_img.disabled {
}
#u19900.disabled {
}
#u19900_img.selectedDisabled {
}
#u19900.selectedDisabled {
}
#u19900_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19900_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19901 label {
  left:0px;
  width:100%;
}
#u19901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19901 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:339px;
  width:26px;
  height:22px;
  display:flex;
}
#u19901 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u19901_img.selected {
}
#u19901.selected {
}
#u19901_img.disabled {
}
#u19901.disabled {
}
#u19901_img.selectedDisabled {
}
#u19901.selectedDisabled {
}
#u19901_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19901_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u19902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(16, 134, 232, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19902 {
  border-width:0px;
  position:absolute;
  left:1610px;
  top:55px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
