body {
  margin:0px;
  background-color:rgba(234, 241, 249, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:40px;
}
#u18977 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:0px;
  width:1720px;
  height:40px;
  display:flex;
  text-align:left;
}
#u18977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18977_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:3px 3px 5px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
  visibility:hidden;
}
#u18978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18978 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:20px;
  height:20px;
  display:flex;
}
#u18978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:956px;
}
#u18979 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:56px;
  width:1680px;
  height:956px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
}
#u18979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 133, 236, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u18981 {
  border-width:0px;
  position:absolute;
  left:1595px;
  top:869px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u18981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 133, 236, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1F85EC;
}
#u18982 {
  border-width:0px;
  position:absolute;
  left:1499px;
  top:869px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#1F85EC;
}
#u18982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1633px;
  height:209px;
}
#u18984 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:620px;
  width:1633px;
  height:209px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u18984 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:50px;
}
#u18986 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:570px;
  width:1123px;
  height:50px;
  display:flex;
  text-align:left;
}
#u18986 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18987 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:0px;
  width:184px;
  height:40px;
}
#u18988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u18988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  display:flex;
  text-align:left;
}
#u18988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18988_img.mouseOver {
}
#u18988.mouseOver {
}
#u18988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u18989 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:109px;
  height:40px;
  display:flex;
  text-align:left;
}
#u18989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18990 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:79px;
  width:1613px;
  height:40px;
}
#u18991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u18991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u18991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
}
#u18992 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:600px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u18992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u18993 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u18993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:40px;
}
#u18994 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:614px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u18994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18995_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:27px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u18995 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:86px;
  width:438px;
  height:27px;
  display:flex;
  font-size:16px;
}
#u18995 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18995_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u18995.disabled {
}
.u18995_input_option {
  font-size:16px;
}
#u18996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18996_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u18996 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:87px;
  width:520px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u18996 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18996_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u18996.disabled {
}
.u18996_input_option {
  font-size:16px;
}
#u18997 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:118px;
  width:1613px;
  height:40px;
}
#u18998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u18998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u18998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:40px;
}
#u18999 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:1414px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u18999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19001 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:180px;
  width:1613px;
  height:40px;
}
#u19002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u19002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u19002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:40px;
}
#u19003 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:1488px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u19003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 133, 236, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19004 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:185px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 133, 236, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19005 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:185px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 133, 236, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19006 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:185px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1317px;
  height:127px;
}
#u19007 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:220px;
  width:1317px;
  height:127px;
  display:flex;
}
#u19007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19008 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:129px;
  width:886px;
  height:568px;
  visibility:hidden;
}
#u19008_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19008_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:568px;
  display:flex;
}
#u19009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:2px;
}
#u19010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:886px;
  height:1px;
  display:flex;
}
#u19010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19011 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:16px;
  width:180px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u19012 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:9px;
  width:33px;
  height:33px;
  display:flex;
}
#u19012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(31, 133, 236, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u19013 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:519px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u19013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(31, 133, 236, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1F85EC;
}
#u19014 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:519px;
  width:76px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#1F85EC;
}
#u19014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19015 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:208px;
  width:40px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19016 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:266px;
  width:40px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u19016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:433px;
}
#u19018 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:71px;
  width:358px;
  height:433px;
  display:flex;
  text-align:left;
}
#u19018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:51px;
  background:inherit;
  background-color:rgba(189, 210, 226, 0.294117647058824);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u19019 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:71px;
  width:358px;
  height:51px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u19019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 14px;
  box-sizing:border-box;
  width:100%;
}
#u19019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:29px;
}
#u19021 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:83px;
  width:217px;
  height:29px;
  display:flex;
  color:#AAAAAA;
  text-align:left;
}
#u19021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u19021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u19022 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:86px;
  width:23px;
  height:22px;
  display:flex;
}
#u19022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:370px;
}
#u19023 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:127px;
  width:261px;
  height:370px;
  display:flex;
}
#u19023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:433px;
}
#u19025 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:71px;
  width:358px;
  height:433px;
  display:flex;
}
#u19025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:51px;
  background:inherit;
  background-color:rgba(189, 210, 226, 0.294117647058824);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u19026 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:71px;
  width:358px;
  height:51px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u19026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 14px;
  box-sizing:border-box;
  width:100%;
}
#u19026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19028 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:360px;
  width:1613px;
  height:40px;
}
#u19029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u19029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u19029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:40px;
}
#u19030 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:1414px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u19030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19031 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:400px;
  width:1624px;
  height:120px;
}
#u19032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19033 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:0px;
  width:407px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19034 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:0px;
  width:407px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:40px;
}
#u19035 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:0px;
  width:403px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:407px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19037 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:40px;
  width:407px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19038 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:40px;
  width:407px;
  height:40px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
  color:#1F85EC;
}
#u19038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:40px;
}
#u19039 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:40px;
  width:403px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:407px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19041 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:80px;
  width:407px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:40px;
}
#u19042 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:80px;
  width:407px;
  height:40px;
  display:flex;
  font-size:16px;
  text-decoration:underline ;
  color:#1F85EC;
}
#u19042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:40px;
}
#u19043 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:80px;
  width:403px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u19043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19045 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:530px;
  width:1613px;
  height:40px;
}
#u19046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u19046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u19046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:40px;
}
#u19047 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:1414px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
#u19047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u19048 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:447px;
  width:50px;
  height:29px;
  display:flex;
}
#u19048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u19049 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:485px;
  width:50px;
  height:29px;
  display:flex;
}
#u19049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
